<section class="about" id="about">
  <div class="left">
    <img src="../../assets/about.jpg" alt="" class="image" />
  </div>
  <div class="right">
    <div class="header">My Story</div>
    <p class="textcontent">
      Hello! My name is Deepak and I enjoy solving complex problems. I was first
      introduced to problem-solving when I was a child and I loved mathematics
      later I was introduced to coding as a senior high school student which
      took my problem-solving skills to a whole new level and in the process the
      first Programming Language I ever learned was Java. The idea that I can
      make a machine do stuff just by writing few lines intrigued me a lot. My
      interest grew exponentially and I started learning more and more and I
      even scored 91 in the finals. After that, I never looked back, I knew this
      was my thing and I kept learning. Fast forward a few years and here I am,
      A Full Stack Java Developer at Deloitte (a multinational professional
      services network with offices in over 150 countries and territories around
      the world). At Deloitte, I got a chance to work on some exciting
      technologies and ideas. The one I am most proud of is Semoss. It's an
      end-to-end analytical tool that we have been customizing and upgrading to
      fit the client and market needs. <br />
      Some of the technologies I have been working on recently-
    </p>
    <table class="list">
      <tr>
        <td>Java</td>
        <td>Spring Boot</td>
      </tr>
      <tr>
        <td>JavaScript</td>
        <td>Angular</td>
      </tr>
      <tr>
        <td>React</td>
        <td>MongoDB</td>
      </tr>
      <tr>
        <td>MySQL</td>
        <td>Python</td>
      </tr>
    </table>
  </div>
</section>
