<section class="home section-item" id="home">
  <img src="../../assets/background.png" class="grad smooth smooth-show" />
  <div class="max-width">
    <div class="home-content smooth smooth-show">
      <div class="text-1">Hi, I am</div>
    </div>
    <h2 class="hero-content smooth smooth-show">
      Deepak Kumar
      <div class="mask">
        <span data-show>A Java Developer</span>
        <span>An Angular Developer</span>
        <span>An SQL Developer</span>
        <span data-up>A Figma Designer</span>
      </div>
    </h2>
  </div>
</section>
<div class="down-arrow bounce">
  <img width="40" height="40" alt="" src="../../assets/down-arrow.png" />
</div>
