<section class="home section-item" id="home">
  <img src="../../assets/background.png" class="grad smooth smooth-show" />
  <div class="max-width">
    <div class="home-content smooth smooth-show">
      <div class="text-1">Hi, I am</div>
      <div class="text-2">Deepak Kumar</div>
    </div>
    <h2 class="hero-content smooth smooth-show">
      A Full Stack Java Developer
      <div class="mask">
        <span>Java</span>
        <span data-up="">Angular</span>
        <span data-show="">SQL</span>
        <span>Figma</span>
        <span>JavaScript</span>
      </div>
    </h2>
  </div>
</section>
<div class="down-arrow bounce">
  <img width="40" height="40" alt="" src="../../assets/down-arrow.png" />
</div>
